pytest
black
isort
shandy-sqlfmt[jinjafmt]
snowbird @ git+https://github.com/navikt/snowbird@v0.1.2
dbt-snowflake<1.9.0,>=1.8.0
dbt-core<1.9.0,>=1.8.0
inbound[oracle,snowflake] @ git+https://github.com/navikt/inbound@v0.3
snowflake-connector-python[secure-local-storage,pandas]
numpy
plotly
xlsxwriter
